.container {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	background-color: #282c34;
	color: white;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 8fr 1fr;
	grid-template-areas: 
	"forecast-menu date"
	"image-container image-container"
	"slider-container slider-container";
}

.text{
	word-wrap: break-word;
	box-sizing: border-box;
	text-align: center;
}

.menu{
	grid-area: forecast-menu;

	min-height: 100%;
	cursor: pointer;
	transition: all 1s ease;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.menu:hover{
	background-color: #111316;
}

.date{
	grid-area: date;

	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container{
	grid-area: image-container;

	display: flex;
	justify-content: center;
	align-items: center;
	
}
.image{
	object-fit: contain;
	max-width: 100vw;
	height: 100%;
}
.cloud-image{
	clip-path: inset(3.5% 0px 5% 0px);
}

.aurora-image{
	max-height: 80vh;
}

.lowmid-image{
	filter: invert() hue-rotate(325deg);
}
.low-image{
	filter: invert() hue-rotate(165deg);
}
.mid-image{
	filter: invert() hue-rotate(72deg);
}
.high-image{
	filter: invert() hue-rotate(78deg);
}

.slider-container{
	grid-area: slider-container;

	min-height: 10lvh;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.slider{
	max-width: 80%;
}